body {
    max-width: 960px; 
    margin: 0 auto; 
    font-family: 'Roboto', sans-serif;
}

header{
    
    background-color: rgb(2, 2, 61);

    text-align: center;
    color: white;
    padding: 10px;
}

header h2{

    color: gold;
}

main{
    display: grid;
    max-width: 950px;
    padding: 5px;
    background-color: rgb(185, 181, 172);
}

main h2{
    background-color: rgb(13, 19, 19);
    color: white;
    font-size: 1.17em;
    margin-block-end: 0;
    line-height: 1.8;
    font-weight: n;
}

main h3{
    font-weight: normal;
    margin-block:  0;
    line-height: 1.8;
}

main a{

    background-color: rgb(185, 181, 172);
    margin-block:  0;
    line-height: 1.8;

}

main p{
    text-align: justify;
}

div {
    display: grid;
}

img{
    max-width: 100%;
    height: auto;
    justify-self: center;
}

footer{
     
    display: grid;
    justify-content: center; 
    background-color: rgb(2, 2, 61);
}

#one{
    text-align:center;
    color: white;
    font-size: 1em;
}

#two{
    text-align:center;
    color: gold;
    font-size: 1em;
}