@media screen and (min-width: 64em) {
   
    body {
        max-width: 1100px;
    }

    header {
        max-width: 1100px;
    }

    header h1{
    
       font-size: 3em;
       margin: 0.67em 0;
    }
     
    
    
    h2{
    
        font-size: 2.5em;
    }
    
   
   

    h3 {
        font-size: 1.7em;
    }

    td{
        font-size: 1.2em;
      }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav div {
    flex: 1 1 auto;
    }
  
    nav a {
    font-size: 0.70em;
    }



    main{

        max-width: 1100px;
    }

    main p{
        
        font-size: 1.5em;
    }

    #colors {
    
        flex-direction: row;
            
    }

    #h1Sample {
        display: table-cell;
        background-color: #1C2C41;
        color: #C2981E;
        font-size: 3em;
        font-family:'Roboto', sans-serif;
        font-weight: bold;
    
    }
    
    #h2Sample {
        display: table-cell;
        background-color: #2B1F1A;
        color: #ffffff;
        font-size: 2.5em;
        font-family:'Roboto', sans-serif;
       
    }
    
    #h3Sample {
        display: table-cell;  
        font-size: 1.7em;
        font-family:'Roboto', sans-serif;
        font-weight: bold;
    }
    
    #navSample {
        display: table-cell;
        background-color: #1C2C41;
        color: #ffffff;
        font-size: 1.10em;
        font-family:'Montserrat', sans-serif;
        
    
    }
    
    #bodySample {
        display: table-cell;
        font-size: 1.3em;
        font-family:'Montserrat', sans-serif;
        font-weight: bold;
    
    }
    
    #footerSample {
        display: table-cell;
        background-color: #1C2C41;
        color: #ffffff;
        font-size: 1em;
        font-family:'Montserrat', sans-serif;
        
    
    }
    
}

