@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  h1 {
      font-size: 1.7em;
      margin: 0.67em 0;
    }

      
  h2{
    font-size: 1.7em;
  }

  h3{
    font-size: 1.5em;
  }

  td{
    font-size: 1em;
  }

  #h1Sample {
    display: table-cell;
    background-color: #1C2C41;
    color: #C2981E;
    font-size: 3em;
    font-family:'Roboto', sans-serif;
    font-weight: bold;

}

#h2Sample {
    display: table-cell;
    background-color: #2B1F1A;
    color: #ffffff;
    font-size: 2.5em;
    font-family:'Roboto', sans-serif;
   
}

#h3Sample {
    display: table-cell;  
    font-size: 1.7em;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
}

#navSample {
    display: table-cell;
    background-color: #1C2C41;
    color: #ffffff;
    font-size: 1.10em;
    font-family:'Montserrat', sans-serif;
    

}

#bodySample {
    display: table-cell;
    font-size: 1.3em;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

#footerSample {
    display: table-cell;
    background-color: #1C2C41;
    color: #ffffff;
    font-size: 1em;
    font-family:'Montserrat', sans-serif;
    

}

  nav div {
    flex: 1 1 auto;
  }

  nav {
    display: flex;
		flex-direction: row;
	}
	
	nav a {
    font-size: 0.70em;
  }

  main p{
    
    font-size: 1.5em;
  }

  #colors {
    
    flex-direction: row;
        
}


    
}