

body {
    max-width: 960px; 
    margin: 0 auto; 
    
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Roboto', sans-serif;
    
}

p {
    font-family: 'Montserrat', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
}

li {
    font-family: 'Montserrat', sans-serif;
}

header{
    
    background-color: #1C2C41;
    max-width: 960px; 
    text-align: center;
    color: white;
    font-size: 2em;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 0.60em;
}

nav a:hover {
	color: #C2981E;
}


h1{
    color: #C2981E;
    font-size: 1em;
    padding: 10px;
}

main{
    max-width: 850px;
    
    padding: 10px;
}

h2{
    font-size: 1.25em;
}

#colors {
    display: flex;
    flex-direction: column;
        
}

#colors p{
    flex: 1 1 auto;
}

#blue{
    padding: 1.5em;
    background-color: #1C2C41;
    color: #fff;
    font-weight: bold;
    border: solid black;
    
}

#white{
    padding: 1.5em;
    background-color: #FDFAFA;
    color: black;
    font-weight: bold;
    border: solid;
}

#brown{
    padding: 1.5em;
    background-color: #2B1F1A;
    color: white;
    font-weight: bold;
    border: solid black;
}

#yellow{
    padding: 1.5em;
    background-color: #C2981E;
    color: black;
    font-weight: bold;
    border: solid;
}


main p{
   font-size: 0.90em;
}

main h2{
    display: block;
    color: white;
    background-color: #2B1F1A;
}


footer{
     
    display: grid;
    justify-content: center; 
    background-color: #1C2C41;
}

#one{
    text-align:center;
    color: white;
    font-size: 1em;
}

#two{
    text-align:center;
    color: lightgreen;
    font-size: 1em;
}