body{
    margin: auto;
    max-width: 1200px ;
    
}

h1, h2, h3, legend, button, input{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: medium;
}

p, li, a, td, label {    
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.mainHeader{
    display: flex;
    justify-content: space-between;
    background-color:#1C2C41;
    
    
}

.logoAndTitle{
    display: flex;
  
}

.logo{
    
    width: 90%;
    max-width: 200px;
    min-width: 120px;
    border-left: #1C2C41 5px solid;
}

.siteNameHeader{
    
    
    padding-top: 15px;
    padding-bottom: 15px;;
    padding-left: 10px;
    color: white;
}

.social{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-right: 2rem;
    margin-bottom: 0px;
    margin-left: 2rem;
}

.linkedIn, .instagram {

    display: block; 
    width: 100%;
    max-width: 25px;
}



header p{
    border: #C2981E solid 3px;
    text-align: center;
    padding-top: 4px;
    margin-block: 0.10em;
    
}

.navHeader{

margin: 0;
background-color: #2B1F1A;


}

.navigation {
    margin: 0;
	padding: 0;
    list-style: none;
    
}



.navigation li:first-child {
	display: block;
 
    
}

.navigation li {
	display: none;
    
}   

.navigation a{
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
	
}
.navigation a.ham::before {
	content: " ☰ ";
    text-align: left;
    
}



.responsive li {
	display: block;
}


.responsive a.ham::before {
	content: "❌ ";
}

main{
    
    display: flex;
    flex-direction: column;
    
    
}

.mainDiscover{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDiscover img{
    width: 100%;
    max-width: 1000px; 

}



main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: beige;
    height: 230px;
    padding: 0.8em;
    margin: 0.4em;
    text-align: center;
}



.heroWelcome{
    position: absolute;
    top: 3%;
    left: 8%;
    color:white;
    background-color: #1C2C41;
    border-radius: 5px;
    padding: 4px;
}
#joinHero{
    position: absolute;
    bottom: 3%;
    right: 8%;
    padding: 1rem;
    
}
.button:hover {
    color: white;
  }
.hero{
    display: block;
    position: relative;
}

.heroImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#weather{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weatherDiv{
    margin: 0;
    padding: 0;
  
}

#weather-icon{
    width: 70%;
}



#spotlights{
    
    display: flex;
    height: auto; 
    justify-content: space-evenly;  
}


#join{
    display: none;
}

#spotlights div{
  
    
    border: 1px darkgray solid ;
    text-align: center;
    width: 97%;
}

#spotlights div:nth-of-type(3){
    display: none;
}



footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1C2C41;
    color: white;
}


a:hover {
    color: #C2981E;
  }

.map{
    color: white;
    }

.map:visited {
        color: lightblue;
      }


.map:hover {
        color: #C2981E;
      }



  #banner{
    display: none;
	text-align: center;
	background: radial-gradient(#eee, #1C2C41);
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.8;
}



/* Join Form Page */

.mainForm{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-items: center;
}



fieldset{

    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-color: #C2981E;
    border-width: 4px;
    width: 85%;
}

label, textarea{
    display: block;
    margin: 10px;
}
.radio{
    display: inline;
    margin-right: 7px;
    margin-top: 7px;
}
input{
    display: block;
}

.button{
    background-color: #1C2C41;
    color: #C2981E;
    margin-bottom: 15PX;
    margin-left:7px;
    padding: 1rem;
    cursor: pointer;   
    text-decoration: none;
    border-radius: 5px;
}



textarea{
    width: 80%;
    margin: 0%;
}

.chartForm{
    width: 70%;
    height: min-content;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 2%;
    border: solid 3px #1C2C41;
    text-align: left;
    align-items: flex-start;
}

.chartForm p{

    margin-top: 0;
}

.chartForm h2{

    margin-bottom: 0;
}

/* Thank You Page */

#thankYou{
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 1%;
    align-items: center;
    
}


#tuned{
    background-color: #1C2C41;
    color: white;
    font-weight: lighter;
    border-radius: 5px;
    border: solid #1C2C41 10px;
}

/* Directory page */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.list {
    display:flex;
    flex-direction: column;
    
}

.list section{
    display: flex;
    flex-direction: column;
    margin: 0.70em;
}



.grid section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.40rem;
    padding: 0.40rem;
    background-color: white;
    box-shadow: 0 0 30px #777;
    text-align: center;
    
}

.grid a{
    font-size: small;
}

.grid img, #spotlights img{
    max-width: 175px;
    background-color: #1C2C41;
    
}

.list img{

    display: none;
}

.list .membership{
    display: none;
}
.directoryButtons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 2%;

}

/* Contact Page */
.radioInputs label {
    margin: 0%;
}

.radioInputs p:nth-of-type(2){
    margin-top: 3em;
} 