body{
    margin: auto;
    max-width: 1000px ;
    
}

h1, h2, h3 {font-family: 'Roboto', sans-serif;}

p, li, a, td {    font-family: 'Montserrat', sans-serif;}



#mainHeader{
    display: flex;
    justify-content: space-between;
    
    
    
}

#logoAndTitle{
    display: flex;
  
    margin: 0;
}

.logo{
    
    width: 30%;
    max-width: 200px;
    border-top: #1C2C41 5px solid;
    border-left: #1C2C41 5px solid;
}

#siteNameHeader{
    
    font-size: 0.80em;
    padding-top: 15px;
    padding-bottom: 15px;;
}

#social{
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-right: 2rem;
    margin-bottom: 0px;
    margin-left: 2rem;
}

.linkedIn{

    display: block;
    
    
    width: 100%;
    max-width: 15px;
}

.instagram{
    display: block;
   
    width: 100%;
    max-width: 15px;
}

#lastUpateHeader{
    border: #C2981E solid 3px;
    font-size: 0.60em;
    text-align: center;
    padding-top: 4px;
    margin-block: 0.10em;
    
}

#navHeader{

margin: 0;
background-color: #2B1F1A;


}

.navigation {
    margin: 0;
	padding: 0;
    list-style: none;
    
}



.navigation li:first-child {
	display: block;
 
    
}

.navigation li {
	display: none;
    
}   

.navigation a{
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: white;
    font-size: 0.80em;
 
	
}
.navigation a.ham::before {
	content: " ☰ ";
    text-align: left;
    
}



.responsive li {
	display: block;
}


.responsive a.ham::before {
	content: "❌ ";
}

main{
    display: grid;
    gap: 5px;
}



main div {
    background-color: beige;
height: 90px;
}

div h3{
    font-size: 0.80em;
}

#spotlights{
    
    display: grid;
    padding: 10px;
    height: auto;
}


#join{
    display: none;
}

#spotlights div{
    border: 1px darkgray solid ;
    
}

#spot3{
    display: none;
}


footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

a:hover {
    color: #C2981E;
  }

  #banner{
    display: none;
	text-align: center;
	background: radial-gradient(#eee, #1C2C41);
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.8;
}
