@media screen and (min-width: 40em) and (max-width: 63.9375em) {


    .siteNameHeader{
        
        font-size: 2em;
       
    }



    .linkedIn{

        max-width: 40px;
    }

    .instagram{
        
        max-width: 40px;
    }



    .navigation a{
        
        font-size: 1.2em;
        
    }

    div h3{
        font-size: 1.2em;
    }

    main{
        
    
        grid-template-columns: 66% 33%;
        grid-template-rows: repeat(5, 19%);
    }

    .hero{
        
        grid-column: 1/3;
        grid-row: 1;
        
    }

    #event{
        grid-row: 5;
    }

    #newsRelease{
        grid-column: 1/3;
        grid-row: 2;
    }

    #weather{
        grid-row: 5;
    }
    #spotlights{
        grid-row: 3;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        height: auto;
    }
    #join{
        display: block;
        grid-row: 4;
        grid-column: 1/3;
    }
    
    footer div{
        display: flex;
        justify-content: space-evenly;
       
    }

   .logoFooterName{
        display: flex;
        align-items: center;
   }
    
   .contactInfo{
        display: flex;
        flex-direction: column;
        margin: 2rem;

   }

   .lastFlex{

    display: flex;
    flex-direction: column;
   }
   
    footer img{
        
        max-width: 200px;
      
        
    }

  

    .middleRow{
        float: left;
        
    }
    
    .last{
        
        text-align: center;
    }


}