body {
    max-width: 960px; 
    margin: 0 auto; 
}


header{
    
    background-color: rgb(2, 2, 61);
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

#image{
    grid-column: 1;
    width: 175px;
    height: 175px;
    padding: 10px;
    display: block;
}

h1{
    grid-column: 2;
    font-size: 1em;
    padding: 10px;
}

main{
    max-width: 850px;
    justify-content: center; 
    padding: 10px;
}

h2{
    font-size: 1em;
}

li{
    font-size: 1em;
}

main p{
    font-style: oblique;
    font-size: 1em;
}

footer{
     
    display: grid;
    justify-content: center; 
    background-color: rgb(2, 2, 61);
}

#one{
    text-align:center;
    color: white;
    font-size: 1em;
}

#two{
    text-align:center;
    color: lightgreen;
    font-size: 1em;
}